{
  "extends": ["@upstatement/eslint-config/vue"],
  "parserOptions": {
    "parser": "babel-eslint",
  },
  "rules": {
    "vue/max-attributes-per-line": ["error", {
      "singleline": 4,
      "multiline": {
        "max": 1,
        "allowFirstLine": false
      }
    }]
  }
}
