html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-family: var(--font-base);
  line-height: 1.5;
  font-optical-sizing: auto;
  font-weight: var(--fw-normal);
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  font-size: var(--fs-base);
}

/* Buttons */
.button {
  transition: background-color var(--transition);
  border-radius: var(--border-radius);
  background-color: var(--c-primary);
  border: 0;
  padding: var(--sp-2) var(--sp-3);
  color: var(--c-light-text);
}
.button:hover {
  background-color: var(--c-secondary);
}

.button--secondary {
  background-color: var(--c-gray);
  color: var(--c-secondary);
}
.button--secondary:hover {
  background-color: var(--c-gray-accent);
  color: var(--c-secondary);
}

/* Links */

.link {
}

.link:hover {
}

/* Headers */

.fs--1 {
  font-size: var(--fs--1);
}

.ff-headline {
  font-family: var(--font-headline);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

/* Lists */
