html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-base);
  line-height: 1.5;
  font-optical-sizing: auto;
  font-weight: var(--fw-normal);
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  font-size: var(--fs-base);
}

/* Utility */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.align-right {
  text-align: right;
}

/* Buttons */
.button,
.button-secondary {
  transition: background-color var(--transition);
  border-radius: var(--border-radius);
  border: 0;
}

.button {
  background-color: var(--c-primary);
  padding: var(--sp-2) var(--sp-3);
  color: var(--c-light-text);
  font-weight: var(--fw-semibold);
}
.button:hover {
  background-color: var(--c-dark);
}

.pill,
.button-secondary {
  background-color: var(--c-primary-transparent);
  padding: var(--sp-1) var(--sp-2);
  font-size: var(--fs--1);
}
.button-secondary:hover {
  background-color: var(--c-primary-transparent-hover);
}

.back-link {
  transition: color var(--transition);
  display: block;
  color: inherit;
  padding: var(--sp-2);
}
.back-link:hover {
  color: var(--c-primary-dark);
}
.back-link svg {
  width: 24px;
  display: block;
}

.basic-link {
  transition: background-size var(--transition);
  color: inherit;
  text-decoration: none;
  background-image: linear-gradient(
    var(--c-primary-transparent-hover),
    var(--c-primary-transparent-hover)
  );
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: bottom right;
}
.basic-link:hover {
  background-size: 100% 8px;
}

/* Headers */

.fs--1 {
  font-size: var(--fs--1);
}
.fs-1 {
  font-size: var(--fs-1);
}
.fs-2 {
  font-size: var(--fs-2);
}
.fs-4 {
  font-size: var(--fs-4);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

/* Lists */

.number-list li {
  counter-increment: item;
  padding-left: 1em;
  position: relative;
}
.unordered-list li + li,
.number-list li + li {
  margin-top: var(--sp-2);
}

.number-list li:before {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--fs--1);
  font-weight: var(--fw-bold);
  content: counter(item);
  color: currentColor;
  border-bottom: 2px solid currentColor;
}
