html,
button,
input {
  @include benton();
  font-size: 16px;
}

// Headers
// -----------

h1 {
  @include termina-heavy();
  @include fluid-font(22px $bp--phone, 60px $bp--desktop);
}

// Buttons
// -----------

.btn {
  @include termina-heavy();
  transition: background-color 0.2s ease-in-out;
  display: inline-block;
  border: 0;
  background-color: $c--yellow;
  padding: 1em;
  box-shadow: 4px 4px 0 $c--yellow-dark;

  &:hover {
    background-color: $c--yellow-darker;
  }

  &:active {
    transform: translate3d(1px, 1px, 0);
    box-shadow: 3px 3px 0 $c--yellow-dark;
  }

  &:focus {
    outline: none;
  }
}

// Content stack
// -----------

.stack > * + * {
  margin-top: 1em;
}
