html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-family: var(--font-base);
  line-height: 1.5;
  font-optical-sizing: auto;
  font-weight: var(--fw-normal);
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  font-size: var(--fs-base);
}

/* Utility */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.align-right {
  text-align: right;
}

/* Buttons */
.button,
.button-secondary {
  transition: background-color var(--transition);
  border-radius: var(--border-radius);
  border: 0;
}

.button {
  background-color: var(--c-primary);
  padding: var(--sp-2) var(--sp-3);
  color: var(--c-light-text);
  font-weight: var(--fw-semibold);
}
.button:hover {
  background-color: var(--c-dark);
}

.pill,
.button-secondary {
  background-color: var(--c-primary-transparent);
  padding: var(--sp-1) var(--sp-2);
  font-size: var(--fs--1);
}
.button-secondary:hover {
  background-color: var(--c-primary-transparent-hover);
}

/* Headers */

.fs--1 {
  font-size: var(--fs--1);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

/* Lists */
